@import 'base','common','variable';
.wrapper{
	width:100%;
	max-width:640px;
	min-height:100%;
	height:auto;
	padding-top:44px;
	margin:0 auto;
	background-color:#fff;
}
.verifyEmail-header{
	position:fixed;
	top:0;
	right:0;
	left:0;
	z-index:1;
	width:100%;
	margin:0 auto;
	max-width:640px;
	height:44px;
	background-color:$white;
	box-shadow:1px 3px 5px #eee;
	padding:0 3%;
 	@include display(flex);
 	@include align-items(center);
	.left{
 		width:10%;
 	}
 	h1{
 		width:80%;
 		font:.8rem/44px $publicFont;
 		color:#333;
 		text-align:center;
 	}
 	.right{
 		width:10%;
 		a{
		    display: block;
 			font:.7rem/44px $publicFont;
 			color:#333;
 			text-align:right;
 		}
 	}
}
.verifyEmail-content{
	padding:15% 10% 0 10%;
	.item{
		margin-bottom:5%;
		p{
			font:.6rem/1.5 $publicFont;
			color:#000;
		}
		.inp{
			padding:2% 0;
			border-bottom:1px solid #999;
			input{
				background:none;
				border:none;
				outline:none;
				width:100%;
				font:.85rem/1.5 $publicFont;
				color:#333;
				&::-webkit-input-placeholder{
					font:.85rem/1.5 $publicFont;	
					color:#ddd;				
				}
			}
		}
	}
	.prompt-text{
		p{
			font:.6rem/2 $publicFont;
			color:#999;	
		}
	}
	.btn{
		display:block;
		text-decoration:none;
		background-color:#ff6b9d;
		border-radius:30px;
		margin:10% 0 5%;
		width:100%;
		font:.65rem/40px $publicFont;
		color:#ffbbd2;
		text-align:center;
	}
	.btn.on{
		background-color:#d91e66;
		color:#fff;
	}
}
.verifyEmail-next{
	display:none;
	padding:15% 10% 0 10%;
	.pTop{
		font:.6rem/1.5 $publicFont;
 		color:#000;
	}
	h4{
		padding:2% 0;
		font:.85rem/1.5 $publicFont;
 		color:#333;
 		border-bottom:1px solid #eee;
	}
	.pFoot{
		margin-top:5%;
		font:.7rem/1.5 $publicFont;
 		color:#999;
 		a{
 			color:#da004c;
 			text-decoration:underline;
 		}
	}
}